*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* HEADER */
header{
    background-color: #0084fd;

}
.nav-bar{    
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.res-menu{
    display: none ;
}

/* MAIN */

/* COMMON */
.purple{
    background-color: #9792e4;
}

.sec-marg{
    margin-top: 2rem ;
}

button{
    border: none;
    background-color: red;
    border-radius: 2rem;
    padding: 0.5rem;
    cursor: pointer;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    justify-content: space-around;
}
/* FINE COMMON */
 
.card, .col, .app{
    width: 98%;    
    padding: 0.3rem;
    background-color: #b5ddff;
    color: #0084fd;
}

.planning{
    background-color: #9792e4;
    padding: 1rem 3rem;
}

.app{
    background-color: antiquewhite;
    color: black;
}

.testimonials{
    text-align: center;
}

.people{
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.testimonials-card{
    background-color: #9792e4;
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 0.5rem;
    width: 95%;
}

.with-us{
    color: white;
    padding: 0.3rem;
    text-align: center;
}

.withus-card{
    padding: 0.1rem;
    margin: 0.1rem;
    background-color: whitesmoke;
    color: black;
}


.about-us{
    text-align: center;
}



.get-started{
    padding: 2rem;
    color: white;
    text-align: center;
}

/* FOOTER */

footer{
    text-align: center;
    background-color: black;
    color: white;
}

.f-text{
    margin: 0 5rem;
    padding: 3rem;
}

/************ RESPONSIVE *********/

/* tablet */
@media screen and (min-width:480px){
    .card{
        width: calc((100% / 3) - 0.6rem);    
    }  
    .big{
        width: calc(66.8% - 0.6rem)  ;
        display: flex;
        flex-direction: column;
        height: 250px;        
        padding: 0.3rem;
        background-color: #b5ddff;
        color: #0084fd;       
    }

    .withus-card{
        width:calc(50% - 0.9rem) ;
    }

    .abtus-col{
        width: calc(50% - 0.6rem);
    }
}

@media screen and (min-width:992px){
    .boxed{
       margin-right: 5%;
       margin-left: 5%;
    }  

    .res-menu{
        display:flex;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
    }

    .hamburger-menu{
        display: none;
    }
    
}

